{% extends 'base.html' %}
{% block body %}
{% load static %}

<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <div class="row wow fadeIn">

      <div class="col-md-6 mb-4">

        <img src="{{item.image_url}}" class="img-fluid img-thumbnail" alt="">

      </div>
      <div class="col-md-6">

        <div class="p-4">

          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">{{item.veg_or_nonveg}}</span>
            </a>
          </div>

          <p class="lead">
            <span class="mr-1">
            {% if item.discount_price %}
              <del>Rs. {{item.price}}</del> <span>Rs. {{item.discount_price}}/-</span>
            {% else %}
              <span>Rs. {{item.price}}/-</span>
            {% endif %}
          </span>
          
          </p>

          <p class="lead font-weight-bold">{{item.title}}</p>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia ipsa
            sint voluptatibus!
            Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p>
          <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">Add to Cart <i class="fas fa-shopping-cart ml-1"></i></a>

        </div>
      </div>
    </div>
    <hr>

  </div>
</main>
{% endblock body %}