{% extends 'base.html' %}
{% block body %}
{% load static %}
<div class="container">
  <div class="row">
    {% for item in object_list %}
    <div class="col-lg-4 col-md-12">

      <h4 class="py-2 text-center"></h4>
      <div class="card card-cascade wider">
        <div class="view view-cascade">
          <img src="{{item.image_url}}" class="card-img-top">
          <a href="{{item.get_absolute_url}}">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <div class="card-body card-body-cascade text-center">
          <h4 class="card-title"><strong>{{item.title}}</strong></h4>
          <h5 class="indigo-text"><strong>{{item.veg_or_nonveg}}</strong></h5>
          {% if item.discount_price %}
          <h5>Only For <span>Rs. <del>{{item.price}}</del> Rs.{{item.discount_price}}/- </span></h5>
          {% else %}
          <h5>Only For <span>Rs. {{item.price}}/- </span></h5>
          {% endif %}
          <p>price for {{item.quantity}} {{item.title}}</p>
          <form action="{{ item.get_add_to_cart_url }}">
          <button class="btn btn-unique" type="submit">Add to Cart</button>
          </form>
          <p class="card-text">
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock body %}