{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body %}
<main>
  <div class="container mt-4">
    <section class="mb-4 mt-2">
      <div class="row fadeIn wow">       
          {% for item in orderitem %}
          <div class="col-sm-12 col-lg-4">
          <table class="table table-bordered text-dark text-center">
            <tr>
              <th>Order Date</th>
              <td>{{item.order_date}}</td>
            </tr>
            <tr>
              <th>Items</th>
              <td>{% for i in item.items.all %}
                <p> {{i.cartitem}} x {{i}}</p>
                {% endfor %}</td>
            </tr>
            <tr>
              <th>ref_code</th>
              <td>{{item.ref_code}}</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{item.billing_address}}</td>
            </tr>
            <tr>
              <th>Amount Paid</th>
              <td>{{item.payment.amount}}/-</td>
            </tr>
            <tr>
              <th>Address</th>
              <td>{{item.billing_address}}</td>
            </tr>
            <tr>
              <th>Applied Coupon</th>
              <td>{{item.coupon}}</td>
            </tr>
            <tr>
              <th>Order Status</th>
              <td>{{item.status}}</td>
            </tr>
          </table>
        </div>
          {% endfor %}
      </div>
    </section>
  </div>
</main>
{% endblock %}